VITE_GITHUB_URL=https://github.com/AlfredoSantos20
VITE_FACEBOOK_URL=https://www.facebook.com/tazki.santosjr
VITE_INSTAGRAM_URL=https://www.instagram.com/afrdo_sntsjr?igsh=MXZlc2xkNzR2cWZraQ==
VITE_LINKEDIN_URL=https://www.linkedin.com/in/alfredo-santos-jr-511921242?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
